<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617652604655-7s0h8s5eq4kqo5poun78ih1pbh8rjl7k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617652604655-7s0h8s5eq4kqo5poun78ih1pbh8rjl7k</string>
	<key>API_KEY</key>
	<string>AIzaSyCgHw-vLBdiBZTe4LOVNyMDy4yiWZnkYNM</string>
	<key>GCM_SENDER_ID</key>
	<string>617652604655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.guaranaMania</string>
	<key>PROJECT_ID</key>
	<string>guarana-mania-c08e0</string>
	<key>STORAGE_BUCKET</key>
	<string>guarana-mania-c08e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617652604655:ios:36e27dc8ea042da10d151a</string>
</dict>
</plist>